<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mumu.zhkuconstructparty.biz.mapper.MyCommentMapper" >

    <select id="getCommentListByIdAndType" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.Comment"
            parameterType="com.mumu.zhkuconstructparty.dto.CommentDto.CommentDto">
        SELECT * FROM `comment`
        WHERE 1=1
        <if test="type != null">
          AND `type` = #{type}
        </if>
        <if test="targetId != null">
          AND `target_id` = #{targetId}
        </if>
        <if test="parentId != null">
          AND parent_id = #{parentId}
        </if>
        <if test="rootId != null">
            AND root_id = #{rootId}
        </if>
        ORDER BY created DESC
        limit #{pageStart},#{pageNum}
    </select>

    <select id="getMyCommentList" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.Comment"
            parameterType="com.mumu.zhkuconstructparty.dto.CommentDto.CommentDto">
        SELECT * FROM `comment`
        WHERE 1=1
        <if test="type != null">
            AND `type` = #{type}
        </if>
        <if test="targetId != null">
            AND `target_id` = #{targetId}
        </if>
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="rootId != null">
            AND root_id = #{rootId}
        </if>
        AND `USER_ID` = #{userId}
        ORDER BY created DESC
        limit #{pageStart},#{pageNum}
    </select>
    <select id="getMyCommentListCount" resultType="java.lang.Integer"
            parameterType="com.mumu.zhkuconstructparty.dto.CommentDto.CommentDto">
        SELECT COUNT(*) FROM `comment`
        WHERE 1=1
        <if test="type != null">
            AND `type` = #{type}
        </if>
        <if test="targetId != null">
            AND `target_id` = #{targetId}
        </if>
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="rootId != null">
            AND root_id = #{rootId}
        </if>
        AND `USER_ID` = #{userId}
    </select>

    <select id="selectByRootId" resultType="com.mumu.zhkuconstructparty.vo.CommentVo.CommentVo"
            parameterType="java.lang.Integer">
        select * from comment where root_id = #{id} ORDER BY CREATED
    </select>

    <select id="getCommentChildrenList" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT c.*,u.user_name FROM `comment` c,`user` u WHERE root_id = #{id} AND c.user_id = u.id;
    </select>

</mapper>