<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mumu.zhkuconstructparty.biz.mapper.MyNewsMapper" >
    <!--<resultMap id="BaseResultMap" type="com.mumu.zhkuconstructparty.biz.autoCode.pojo.News" >-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="title" property="title" jdbcType="VARCHAR" />-->
        <!--<result column="second_title" property="secondTitle" jdbcType="VARCHAR" />-->
        <!--<result column="image" property="image" jdbcType="VARCHAR" />-->
        <!--<result column="author" property="author" jdbcType="VARCHAR" />-->
        <!--<result column="created" property="created" jdbcType="TIMESTAMP" />-->
        <!--<result column="state" property="state" jdbcType="BIT" />-->
    <!--</resultMap>-->
    <select id="selectNews" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.News"
            parameterType="com.mumu.zhkuconstructparty.vo.NewsVo.NewsQueryVo">
        select id, title, second_title, image, author, created, state
        from `news`
        WHERE 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="title != null and title != ''">
            and title like CONCAT('%',#{title},'%')
        </if>
        <if test="secondTitle != null and secondTitle != ''" >
            and second_title like CONCAT('%',#{secondTitle},'%')
        </if>
        <if test="author != null and author != ''">
            and author like CONCAT('%',#{author},'%')
        </if>
        <if test="startTime != null and startTime != ''">
            and created <![CDATA[>=]]> startTime
        </if>
        <if test="endTime != null and endTime != ''">
            and created <![CDATA[>=]]> endTime
        </if>
        <if test="state !=null and state !=''">
            and state = #{state}
        </if>
        ORDER BY created DESC
        limit #{pageStart},#{pageNum}
    </select>
    <!--<select id="selectAllNews"-->
            <!--resultMap="BaseResultMap">-->
        <!--select id, title, second_title, image, author, created, state-->
        <!--from `news`-->
    <!--</select>-->
    <select id="selectNewsCount"  resultType="java.lang.Integer"
            parameterType="com.mumu.zhkuconstructparty.vo.NewsVo.NewsQueryVo">
        select count(id)
        from `news`
        WHERE 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="title != null and title != ''">
            and title like CONCAT('%',#{title},'%')
        </if>
        <if test="secondTitle != null and secondTitle != ''" >
            and second_title like CONCAT('%',#{secondTitle},'%')
        </if>
        <if test="author != null and author != ''">
            and author like CONCAT('%',#{author},'%')
        </if>
        <if test="startTime != null and startTime != ''">
            and created <![CDATA[>=]]> startTime
        </if>
        <if test="endTime != null and endTime != ''">
            and created <![CDATA[>=]]> endTime
        </if>
        <if test="state !=null and state !=''">
            and state = #{state}
        </if>
    </select>

    <update id="updateNewsBySelect"  parameterType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.News">
        UPDATE `news` SET
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null and title != ''">
                title = #{title} ,
            </if>
            <if test="secondTitle != null" >
                second_title = #{secondTitle} ,
            </if>
            <if test="author != null and author != ''">
                author = #{author} ,
            </if>
            <if test="created != null and created != ''">
                created = #{created},
            </if>
            <if test="image !=null">
                created = #{image},
            </if>
            <if test="state !=null and state !='">
                state = #{state},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="findByIds" parameterType="java.util.List" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.News">
        select * from `news` where
        id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="insertInto" parameterType="com.mumu.zhkuconstructparty.vo.NewsVo.NewsQueryVo"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
           insert into news ( title, second_title,
              image, author, created,
              state)
            values ( #{title,jdbcType=VARCHAR}, #{secondTitle,jdbcType=VARCHAR},
              #{image,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP},
              #{state,jdbcType=BIT})
    </insert>


</mapper>