<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mumu.zhkuconstructparty.biz.mapper.MyUserMapper" >
    <select id="listUsers" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.User"
            parameterType="com.mumu.zhkuconstructparty.vo.UserVo.UserQueryVo">
        select *
        from `user`
        where 1=1
        <if  test="identityCode !=null and identityCode != ''">
            and `identity_code` like CONCAT(CONCAT('%', #{identityCode}),'%')
        </if>
        <if test="name != null and name !=''">
            and `name` like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if  test="college !=null and college != ''">
            and `college` like CONCAT(CONCAT('%', #{college}),'%')
        </if>
        <if  test="major !=null and major != ''">
            and `major` like CONCAT(CONCAT('%', #{major}),'%')
        </if>
        limit #{pageStart},#{pageNum};
    </select>
    <!--ORDER BY #{orderByColumn} DESC-->
    <select id="countListUsers" resultType="java.lang.Integer"
            parameterType="com.mumu.zhkuconstructparty.vo.UserVo.UserQueryVo">
        select count(1)
        from `user`
        where 1=1
        <if  test="identityCode !=null and identityCode != ''">
            and `identity_code` like CONCAT(CONCAT('%', #{identityCode}),'%')
        </if>
        <if test="name != null and name !=''">
            and `name` like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if  test="college !=null and college != ''">
            and `college` like CONCAT(CONCAT('%', #{college}),'%')
        </if>
        <if  test="major !=null and major != ''">
            and `major` like CONCAT(CONCAT('%', #{major}),'%')
        </if>
    </select>
    <select id="login" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.User"
        parameterType="com.mumu.zhkuconstructparty.vo.UserVo.UserQueryVo">
        SELECT * from `user`
        WHERE identity_code = #{identityCode} and password = #{password}
    </select>
    <update id="updateUserBySelect"  parameterType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.User">
        UPDATE `user`
        <set>
            <if  test="password !=null and password != ''">
                `password` = #{password},
            </if>
            <if test="email != null and email !=''">
                 `email` = #{email},
            </if>
            <if  test="name !=null and name != ''">
                 `name` = #{name},
            </if>
            <if  test="userName !=null and userName != ''">
                 `user_name` = #{userName},
            </if>
            <if  test="phone !=null and phone != ''">
                 `phone` = #{phone},
            </if>
            <if test="politicalStatus != null and politicalStatus !=''">
                 `political_status` = #{politicalStatus},
            </if>
            <if  test="headImg !=null and headImg != ''">
                 `head_img` = #{headImg},
            </if>
            <if  test="college !=null and college != ''">
                 `college` = #{college},
            </if>
            <if  test="major !=null and major != ''">
                `major` = #{major},
            </if>
            <if test="validataCode != null and validataCode !=''">
                 `validata_code` = #{validataCode},
            </if>
            <if  test="outdate !=null and outdate != ''">
                 `outDate` = #{outdate},
            </if>
            <if  test="identityCode !=null and identityCode != ''">
                 identity_code = #{identityCode},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="findByIds" parameterType="java.util.List" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.User">
        select * from `user` where
        id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>