<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mumu.zhkuconstructparty.biz.mapper.MyUserScoreMapper" >
    <update id="updateUserScoreByIdSelect" parameterType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.UserScore"  >
        update `user_score`
        <set>
            <if test="score != null">`score` = #{score,jdbcType=INTEGER},</if>
            <if test="name != null and name.length()>0">`name`=#{name},</if>
             <if test="lastModData != null">`last_mod_data`=#{lastModData,jdbcType=TIMESTAMP}</if>
        </set> where `user_id` = #{userId}
    </update>

    <select id="getScoreDetial" parameterType="com.mumu.zhkuconstructparty.dto.ScoreDto.UserScoreDto" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.UserScoreDetail">
        select * from user_score_detail
        WHERE user_id = #{userId}
        ORDER BY occur_time DESC
        limit #{pageStart},#{pageNum}
    </select>
    <select id="getScoreDetialCount" parameterType="com.mumu.zhkuconstructparty.dto.ScoreDto.UserScoreDto" resultType="java.lang.Integer">
        select count(*) from user_score_detail
        WHERE user_id = #{userId}
    </select>
</mapper>