<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mumu.zhkuconstructparty.biz.mapper.MyUserScoreMapper" >
    <update id="updateUserScoreByIdSelect" parameterType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.UserScore"  >
        update `user_score`
        <set>
            <if test="score != null">`score` = #{score,jdbcType=INTEGER},</if>
            <if test="name != null and name.length()>0">`name`=#{name},</if>
             <if test="lastModData != null">`last_mod_data`=#{lastModData,jdbcType=TIMESTAMP}</if>
        </set> where `user_id` = #{userId}
    </update>

    <select id="getScoreDetial" parameterType="com.mumu.zhkuconstructparty.dto.ScoreDto.UserScoreDto" resultType="com.mumu.zhkuconstructparty.biz.autoCode.pojo.UserScoreDetail">
        select * from user_score_detail
        WHERE user_id = #{userId}
        ORDER BY occur_time DESC
        limit #{pageStart},#{pageNum}
    </select>
    <select id="getScoreDetialCount" parameterType="com.mumu.zhkuconstructparty.dto.ScoreDto.UserScoreDto" resultType="java.lang.Integer">
        select count(*) from user_score_detail
        WHERE user_id = #{userId}
    </select>
    <select id="getUserRankByPrimaryKey" resultType="java.lang.Integer">
        SELECT b.rank FROM
        (
        SELECT t.*, @rank := @rank + 1 AS rank
        FROM (SELECT @rank := 0) r,
        (SELECT USER_ID FROM user_score ORDER BY SCORE desc, USER_ID desc) AS t
        ) AS b WHERE b.user_id =#{userId};
    </select>
    <select id="getTypeList" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT score_id,SUM(integral_score) as score FROM
        (
        SELECT integral_score,score_id FROM user_score_detail WHERE user_id =#{userId}
        ) AS a  GROUP BY score_id
    </select>
    <select id="getMonthList" resultType="java.util.Map" parameterType="java.lang.Integer">
         select a.`month`,sum(integral_score) as `score` from
         (SELECT * , MONTH(occur_time) as `month` FROM user_score_detail WHERE user_id =1)as a GROUP BY a.`month`
    </select>
    <select id="getUserScoreList" parameterType="com.mumu.zhkuconstructparty.dto.ScoreDto.UserScoreDto" resultType="java.util.Map">
        select `user`.*,`user_score`.score from `user`,`user_score` where `user`.id = user_score.user_id
        <if test="keyword != null and keyword != ''">
            and ( `user`.`identity_code` like concat('%',#{keyword},'%') or `user`.`name` like concat('%',#{keyword},'%') or `user`.`user_name` like concat('%',#{keyword},'%'))
        </if>
        <if test="college != null and college !=''">
            and college = #{college}
        </if>
        <if test="major != null and major !=''">
            and major = #{major}
        </if>
        <if test="sort != null and sort == 1">
            order by score DESC
        </if>
        <if test="sort != null and sort == 0">
            order by score
        </if>
        limit #{pageStart},#{pageNum}
    </select>
    <select id="getUserScoreListCount" parameterType="com.mumu.zhkuconstructparty.dto.ScoreDto.UserScoreDto" resultType="java.lang.Integer">
        select count(id) from `user`,`user_score` where `user`.id = user_score.user_id
        <if test="keyword != null and keyword != ''">
            and ( `user`.`identity_code` like concat('%',#{keyword},'%') or `user`.`name` like concat('%',#{keyword},'%') or `user`.`user_name` like concat('%',#{keyword},'%'))
        </if>
        <if test="college != null and college !=''">
            and college = #{college}
        </if>
        <if test="major != null and major !=''">
            and major = #{major}
        </if>
    </select>

</mapper>